{ns hl7-fhir-us-davinci-drug-formulary.search.Basic-pharmacy-type,
 import #{zen.fhir},
 search
 {:zen/tags #{zen.fhir/search},
  :fhir/id "Basic-pharmacy-type",
  :fhir/url
  "http://hl7.org/fhir/us/davinci-drug-formulary/SearchParameter/Basic-pharmacy-type",
  :fhir/type "token",
  :name "pharmacy-type",
  :expr
  {:Basic
   {:knife [], :jsonpath [], :data-types #{}, :template :token}}}}