{ns hl7-fhir-us-davinci-drug-formulary.search.InsurancePlan-formulary-coverage,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "InsurancePlan-formulary-coverage",
         :fhir/url "http://hl7.org/fhir/us/davinci-drug-formulary/SearchParameter/InsurancePlan-formulary-coverage",
         :fhir/type "reference",
         :name "formulary-coverage",
         :expr {:InsurancePlan {:knife [["coverage"
                                         "extension"
                                         {:url "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyReference-extension"}
                                         "value"]],
                                :jsonpath ["$.\"coverage\".\"extension\"?(@.\"url\"==\"http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyReference-extension\").\"value\"[*]"],
                                :data-types #{},
                                :template :reference}}}}
