{ns
 hl7-fhir-us-davinci-drug-formulary.search.InsurancePlan-coverage-type,
 import #{zen.fhir},
 search
 {:zen/tags #{zen.fhir/search},
  :fhir/id "InsurancePlan-coverage-type",
  :fhir/url
  "http://hl7.org/fhir/us/davinci-drug-formulary/SearchParameter/InsurancePlan-coverage-type",
  :fhir/type "token",
  :name "coverage-type",
  :expr
  {:InsurancePlan
   {:knife [["coverage" "type"]],
    :jsonpath ["$.\"coverage\".\"type\"[*]"],
    :data-types #{{:type "CodeableConcept", :polymorphic? false}},
    :template :token}}}}