{ns hl7-fhir-us-davinci-drug-formulary.search.InsurancePlan-coverage-area,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "InsurancePlan-coverage-area",
         :fhir/url "http://hl7.org/fhir/us/davinci-drug-formulary/SearchParameter/InsurancePlan-coverage-area",
         :fhir/type "reference",
         :name "coverage-area",
         :expr {:InsurancePlan {:knife [["coverageArea"]],
                                :jsonpath ["$.\"coverageArea\"[*]"],
                                :data-types #{{:type "Reference",
                                               :polymorphic? false}},
                                :template :reference}}}}
