{ns hl7-fhir-us-davinci-drug-formulary.search.InsurancePlan-name,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "InsurancePlan-name",
         :fhir/url "http://hl7.org/fhir/us/davinci-drug-formulary/SearchParameter/InsurancePlan-name",
         :fhir/type "string",
         :name "name",
         :expr {:InsurancePlan {:knife [["name"]],
                                :jsonpath ["$.\"name\"[*]"],
                                :data-types #{{:type "string",
                                               :polymorphic? false}},
                                :template :string,
                                :sql {:where [:or
                                              [:ilike
                                               [:pg/cast
                                                [:pg/jsonb-path-query-array
                                                 [:pg/sql
                                                  "{{table}}.resource"]
                                                 [:pg/cast
                                                  "($.\"name\"[*]).** ? (@.type() == \"string\")"
                                                  :jsonpath]]
                                                :text]
                                               [:pg/sql "{{param}}"]]],
                                      :parameter-format "%\"?%"}}}}}
