{ns hl7-fhir-us-davinci-drug-formulary.search.MedicationKnowledge-code,
 import #{zen.fhir},
 search
 {:zen/tags #{zen.fhir/search},
  :fhir/id "MedicationKnowledge-code",
  :fhir/url
  "http://hl7.org/fhir/us/davinci-drug-formulary/SearchParameter/MedicationKnowledge-code",
  :fhir/type "token",
  :name "code",
  :expr
  {:MedicationKnowledge
   {:knife [["code"]],
    :jsonpath ["$.\"code\"[*]"],
    :data-types #{{:type "CodeableConcept", :polymorphic? false}},
    :template :token}}}}