{ns hl7-fhir-us-davinci-drug-formulary.value-set.DrugTierVS,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The drug tier of a particular medication in a health plan. The base set are examples. Each plan may have its own controlled vocabulary.",
            :zen.fhir/version "0.6.29-4",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/us/davinci-drug-formulary/CodeSystem/usdf-DrugTierCS-TEMPORARY-TRIAL-USE",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet/DrugTierVS",
            :version "2.0.0",
            :ftr {:module "hl7-fhir-us-davinci-drug-formulary",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
