{ns hl7-fhir-us-davinci-drug-formulary.value-set.InsuranceItemTypeVS,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Types of insurance items",
            :zen.fhir/version "0.6.16-3",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/us/davinci-drug-formulary/CodeSystem/usdf-InsuranceItemTypeCS",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet/InsuranceItemTypeVS",
            :version "2.0.0",
            :ftr {:module "hl7-fhir-us-davinci-drug-formulary",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
