{ns hl7-fhir-us-davinci-drug-formulary.value-set.PlanContactTypeVS,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Type of plan contact",
            :zen.fhir/version "0.6.29-22",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/contactentity-type",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://hl7.org/fhir/us/davinci-drug-formulary/CodeSystem/usdf-PlanContactTypeCS-TEMPORARY-TRIAL-USE",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/davinci-drug-formulary/ValueSet/PlanContactTypeVS",
            :version "2.0.0",
            :ftr {:module "hl7-fhir-us-davinci-drug-formulary",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
