{ns
 hl7-fhir-us-davinci-drug-formulary.usdf-FormularyReference-extension,
 import #{zen.fhir hl7-fhir-r4-core.Reference},
 schema
 {:zen/tags #{zen/schema zen.fhir/structure-schema},
  :zen/desc "Reference to the formulary this item belongs to.",
  :zen.fhir/type "Reference",
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyReference-extension",
  :zen.fhir/version "0.6.1",
  :confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
  :zen.fhir/reference {:refers #{}}}}