{ns hl7-fhir-us-davinci-drug-formulary.usdf-PayerInsurancePlan,
 import
 #{hl7-fhir-r4-core.Period
   hl7-fhir-r4-core.decimal
   hl7-fhir-r4-core.BackboneElement
   hl7-fhir-r4-core.code
   hl7-fhir-us-davinci-drug-formulary.value-set.CopayOptionVS
   hl7-fhir-us-davinci-drug-formulary.value-set.CoinsuranceOptionVS
   zen.fhir
   hl7-fhir-r4-core.ContactPoint
   hl7-fhir-us-davinci-pdex-plan-net.value-set.InsuranceProductTypeVS
   hl7-fhir-r4-core.string
   hl7-fhir-r4-core.instant
   hl7-terminology-r4.value-set.insuranceplan-type
   hl7-fhir-r4-core.InsurancePlan
   hl7-fhir-r4-core.HumanName
   hl7-fhir-r4-core.Quantity
   hl7-fhir-r4-core.uri
   hl7-fhir-us-davinci-drug-formulary.value-set.BenefitCostTypeVS
   hl7-fhir-r4-core.Meta
   hl7-fhir-r4-core.Reference
   hl7-fhir-r4-core.MoneyQuantity
   hl7-fhir-r4-core.Element
   hl7-fhir-us-davinci-drug-formulary.value-set.PlanContactTypeVS
   hl7-fhir-us-davinci-drug-formulary.value-set.PharmacyBenefitTypeVS
   hl7-fhir-r4-core.CodeableConcept
   hl7-fhir-r4-core.Identifier
   hl7-fhir-us-davinci-drug-formulary.value-set.DrugTierVS
   hl7-fhir-us-davinci-drug-formulary.usdf-InsurancePlanLocation},
 schema
 {:zen.fhir/version "0.6.0",
  :confirms #{hl7-fhir-r4-core.InsurancePlan/schema zen.fhir/Resource},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-PayerInsurancePlan",
  :require #{:coverage :type :status :identifier :plan},
  :type zen/map,
  :zen/desc
  "The Payer InsurancePlan that defines the health insurance product, which include coverage benefits that are offered, and additional information about the offering, such as a coverage area, contact information, brochure locations, etc. The health insurance product offers one or more types of coverage, each of which may define a plan of covered benefits with the particular cost sharing structure offered to a consumer. Health insurance plans that include drug coverage reference a formulary that provides details about drugs that are covered under the plan including requirements and limitations of the coverage specific to each drug.",
  :keys
  {:coverageArea
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
     :fhir/flags #{:MS},
     :zen.fhir/reference
     {:refers
      #{hl7-fhir-us-davinci-drug-formulary.usdf-InsurancePlanLocation/schema}}}},
   :meta
   {:confirms #{hl7-fhir-r4-core.Meta/schema},
    :type zen/map,
    :keys
    {:lastUpdated
     {:confirms #{hl7-fhir-r4-core.instant/schema},
      :fhir/flags #{:MS}},
     :_lastUpdated {:confirms #{hl7-fhir-r4-core.Element/schema}}},
    :require #{:lastUpdated}},
   :name
   {:confirms #{hl7-fhir-r4-core.string/schema}, :fhir/flags #{:MS}},
   :_status {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :coverage
   {:slicing
    {:slices
     {"drug-coverage"
      {:schema
       {:type zen/vector,
        :minItems 1,
        :every
        {:type zen/map,
         :keys
         {:extension #:fhir{:flags #{:MS}},
          :type
          {:match
           {:coding
            #{{:system
               "http://terminology.hl7.org/CodeSystem/v3-ActCode",
               :code "DRUGPOL"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
          :benefit
          {:slicing
           {:slices
            {"drug-plan"
             {:schema
              {:type zen/vector,
               :minItems 1,
               :every
               {:type zen/map,
                :keys
                {:type
                 {:match
                  {:coding
                   #{{:system
                      "http://terminology.hl7.org/CodeSystem/insurance-plan-type",
                      :code "Drug",
                      :display "Drug"}}},
                  :confirms
                  #{hl7-fhir-r4-core.CodeableConcept/schema}}}}},
              :filter
              {:engine :match,
               :match
               {:type
                {:coding
                 #{{:system
                    "http://terminology.hl7.org/CodeSystem/insurance-plan-type",
                    :code "Drug",
                    :display "Drug"}}}}}}}},
           :type zen/vector,
           :every
           {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
            :type zen/map,
            :keys
            {:type
             {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
              :zen.fhir/value-set
              {:symbol
               hl7-terminology-r4.value-set.insuranceplan-type/value-set,
               :strength :extensible}}}}}},
         :require #{:extension}}},
       :filter
       {:engine :match,
        :match
        {:type
         {:coding
          #{{:system
             "http://terminology.hl7.org/CodeSystem/v3-ActCode",
             :code "DRUGPOL"}}}}}}}},
    :type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:type
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
       :fhir/flags #{:MS}}},
     :fhir/flags #{:MS}},
    :minItems 1},
   :type
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
     :fhir/flags #{:MS},
     :zen.fhir/value-set
     {:symbol
      hl7-fhir-us-davinci-pdex-plan-net.value-set.InsuranceProductTypeVS/value-set,
      :strength :extensible},
     :zen/desc "Product type"},
    :minItems 1,
    :maxItems 1},
   :status
   {:confirms #{hl7-fhir-r4-core.code/schema}, :fhir/flags #{:MS}},
   :_name {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :identifier
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Identifier/schema},
     :fhir/flags #{:MS}},
    :minItems 1},
   :period
   {:confirms #{hl7-fhir-r4-core.Period/schema}, :fhir/flags #{:MS}},
   :plan
   {:slicing
    {:slices
     {"drug-plan"
      {:schema
       {:type zen/vector,
        :minItems 1,
        :every
        {:type zen/map,
         :keys
         {:type
          {:match
           {:coding
            #{{:system
               "http://terminology.hl7.org/CodeSystem/insurance-plan-type",
               :code "Drug",
               :display "Drug"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
          :network
          {:type zen/vector,
           :every
           {:confirms
            #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
            :zen.fhir/reference {:refers #{}},
            :zen/desc
            "Pharmacy benefit types that are part of the drug plan"}},
          :specificCost
          {:type zen/vector,
           :every
           {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
            :type zen/map,
            :keys
            {:category
             {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
              :fhir/flags #{:MS},
              :zen.fhir/value-set
              {:symbol
               hl7-fhir-us-davinci-drug-formulary.value-set.PharmacyBenefitTypeVS/value-set,
               :strength :extensible},
              :zen/desc "Pharmacy Benefit Type"},
             :benefit
             {:type zen/vector,
              :every
              {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
               :type zen/map,
               :keys
               {:type
                {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
                 :fhir/flags #{:MS},
                 :zen.fhir/value-set
                 {:symbol
                  hl7-fhir-us-davinci-drug-formulary.value-set.DrugTierVS/value-set,
                  :strength :required}},
                :cost
                {:slicing
                 {:slices
                  {"copay"
                   {:schema
                    {:type zen/vector,
                     :maxItems 1,
                     :every
                     {:type zen/map,
                      :keys
                      {:type
                       {:match
                        {:coding
                         #{{:system
                            "http://hl7.org/fhir/us/davinci-drug-formulary/CodeSystem/usdf-BenefitCostTypeCS-TEMPORARY-TRIAL-USE",
                            :code "copay"}}},
                        :confirms
                        #{hl7-fhir-r4-core.CodeableConcept/schema}},
                       :qualifiers
                       {:type zen/vector,
                        :every
                        {:confirms
                         #{hl7-fhir-r4-core.CodeableConcept/schema},
                         :zen.fhir/value-set
                         {:symbol
                          hl7-fhir-us-davinci-drug-formulary.value-set.CopayOptionVS/value-set,
                          :strength :required}}},
                       :value
                       {:confirms
                        #{hl7-fhir-r4-core.Quantity/schema
                          hl7-fhir-r4-core.MoneyQuantity/schema},
                        :type zen/map,
                        :keys
                        {:value
                         {:confirms #{hl7-fhir-r4-core.decimal/schema},
                          :fhir/flags #{:MS}},
                         :_value
                         {:confirms
                          #{hl7-fhir-r4-core.Element/schema}},
                         :system
                         {:match "urn:iso:std:iso:4217",
                          :confirms #{hl7-fhir-r4-core.uri/schema}},
                         :_system
                         {:confirms
                          #{hl7-fhir-r4-core.Element/schema}},
                         :code
                         {:match "USD",
                          :confirms #{hl7-fhir-r4-core.code/schema}},
                         :_code
                         {:confirms
                          #{hl7-fhir-r4-core.Element/schema}}},
                        :require #{:value}}}}},
                    :filter
                    {:engine :match,
                     :match
                     {:type
                      {:coding
                       #{{:system
                          "http://hl7.org/fhir/us/davinci-drug-formulary/CodeSystem/usdf-BenefitCostTypeCS-TEMPORARY-TRIAL-USE",
                          :code "copay"}}}}}},
                   "coinsurance"
                   {:schema
                    {:type zen/vector,
                     :maxItems 1,
                     :every
                     {:type zen/map,
                      :keys
                      {:type
                       {:match
                        {:coding
                         #{{:system
                            "http://hl7.org/fhir/us/davinci-drug-formulary/CodeSystem/usdf-BenefitCostTypeCS-TEMPORARY-TRIAL-USE",
                            :code "coinsurance"}}},
                        :confirms
                        #{hl7-fhir-r4-core.CodeableConcept/schema}},
                       :qualifiers
                       {:type zen/vector,
                        :every
                        {:confirms
                         #{hl7-fhir-r4-core.CodeableConcept/schema},
                         :zen.fhir/value-set
                         {:symbol
                          hl7-fhir-us-davinci-drug-formulary.value-set.CoinsuranceOptionVS/value-set,
                          :strength :required}}},
                       :value
                       {:confirms #{hl7-fhir-r4-core.Quantity/schema},
                        :type zen/map,
                        :keys
                        {:system
                         {:match "http://unitsofmeasure.org",
                          :confirms #{hl7-fhir-r4-core.uri/schema}},
                         :_system
                         {:confirms
                          #{hl7-fhir-r4-core.Element/schema}},
                         :code
                         {:match "%",
                          :confirms #{hl7-fhir-r4-core.code/schema}},
                         :_code
                         {:confirms
                          #{hl7-fhir-r4-core.Element/schema}}}}}}},
                    :filter
                    {:engine :match,
                     :match
                     {:type
                      {:coding
                       #{{:system
                          "http://hl7.org/fhir/us/davinci-drug-formulary/CodeSystem/usdf-BenefitCostTypeCS-TEMPORARY-TRIAL-USE",
                          :code "coinsurance"}}}}}}}},
                 :type zen/vector,
                 :every
                 {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
                  :type zen/map,
                  :keys
                  {:type
                   {:confirms
                    #{hl7-fhir-r4-core.CodeableConcept/schema},
                    :zen.fhir/value-set
                    {:symbol
                     hl7-fhir-us-davinci-drug-formulary.value-set.BenefitCostTypeVS/value-set,
                     :strength :extensible}},
                   :qualifiers
                   {:type zen/vector,
                    :every
                    {:confirms
                     #{hl7-fhir-r4-core.CodeableConcept/schema},
                     :fhir/flags #{:MS}},
                    :minItems 1,
                    :maxItems 1},
                   :value
                   {:confirms #{hl7-fhir-r4-core.Quantity/schema},
                    :fhir/flags #{:MS}}},
                  :require #{:qualifiers},
                  :fhir/flags #{:MS}},
                 :minItems 1}},
               :require #{:cost},
               :fhir/flags #{:MS},
               :zen/desc "Drug tier benefit"},
              :minItems 1}},
            :require #{:benefit},
            :fhir/flags #{:MS},
            :zen/desc "Pharmacy benefit type specific cost"},
           :minItems 1}},
         :require #{:specificCost :type}}},
       :filter
       {:engine :match,
        :match
        {:type
         {:coding
          #{{:system
             "http://terminology.hl7.org/CodeSystem/insurance-plan-type",
             :code "Drug",
             :display "Drug"}}}}}}}},
    :type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:type
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
       :zen.fhir/value-set
       {:symbol
        hl7-terminology-r4.value-set.insuranceplan-type/value-set,
        :strength :extensible}}},
     :fhir/flags #{:MS}},
    :minItems 1},
   :contact
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:purpose
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
       :zen.fhir/value-set
       {:symbol
        hl7-fhir-us-davinci-drug-formulary.value-set.PlanContactTypeVS/value-set,
        :strength :extensible}},
      :name
      {:confirms #{hl7-fhir-r4-core.HumanName/schema},
       :type zen/map,
       :keys
       {:text
        {:confirms #{hl7-fhir-r4-core.string/schema},
         :fhir/flags #{:MS}},
        :_text {:confirms #{hl7-fhir-r4-core.Element/schema}}},
       :fhir/flags #{:MS}},
      :telecom
      {:type zen/vector,
       :every
       {:confirms #{hl7-fhir-r4-core.ContactPoint/schema},
        :type zen/map,
        :keys
        {:system
         {:confirms #{hl7-fhir-r4-core.code/schema},
          :fhir/flags #{:MS}},
         :_system {:confirms #{hl7-fhir-r4-core.Element/schema}},
         :value
         {:confirms #{hl7-fhir-r4-core.string/schema},
          :fhir/flags #{:MS}},
         :_value {:confirms #{hl7-fhir-r4-core.Element/schema}}},
        :fhir/flags #{:MS}}}},
     :zen/desc
     "Contact information for the Insurance Plan including URLs for brochure and formulary information"}}},
  :zen.fhir/type "InsurancePlan"}}