{ns hl7-fhir-us-davinci-drug-formulary.usdf-PayerInsurancePlanBulkDataGraphDefinition,
 import #{zen.fhir hl7-fhir-r4-core.GraphDefinition},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "A GraphDefinition defining a graph of resources to return in a query for a Formulary related Payer Insurance Plan Bulk Data request.",
         :zen.fhir/type "GraphDefinition",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-PayerInsurancePlanBulkDataGraphDefinition",
         :zen.fhir/version "0.6.7-3",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4-core.GraphDefinition/schema},
         :type zen/map,
         :keys {:name {:match "PayerInsurancePlanGraphDefinition"},
                :start {:match "InsurancePlan"},
                :status {:match "active"},
                :link {:type zen/vector,
                       :slicing {:slices {"location" {:schema {:type zen/vector,
                                                               :every {:type zen/map,
                                                                       :keys {:path {:match "InsurancePlan.coverageArea"},
                                                                              :target {:type zen/vector,
                                                                                       :every {:type zen/map,
                                                                                               :keys {:type {:match "Location"},
                                                                                                      :profile {:match "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-InsurancePlanLocation"}}}}},
                                                                       :require #{:path}}},
                                                      :filter {:engine :match,
                                                               :match {:path "InsurancePlan.coverageArea"}}},
                                          "formulary" {:schema {:type zen/vector,
                                                                :every {:type zen/map,
                                                                        :keys {:path {:match "InsurancePlan.coverage.extension.where(url=http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyReference-extension).valueReference"},
                                                                               :target {:type zen/vector,
                                                                                        :every {:type zen/map,
                                                                                                :keys {:type {:match "InsurancePlan"},
                                                                                                       :profile {:match "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-Formulary"},
                                                                                                       :link {:type zen/vector,
                                                                                                              :every {:type zen/map,
                                                                                                                      :keys {:target {:type zen/map,
                                                                                                                                      :keys {:type {:match "Basic"},
                                                                                                                                             :params {:match "formulary={ref}"},
                                                                                                                                             :profile {:match "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyItem"},
                                                                                                                                             :link {:type zen/map,
                                                                                                                                                    :keys {:path {:match "Basic.subject"},
                                                                                                                                                           :target {:type zen/map,
                                                                                                                                                                    :keys {:type {:match "MedicationKnowledge"},
                                                                                                                                                                           :profile {:match "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyDrug"}}}}}}}}}}}}}},
                                                                        :require #{:path}}},
                                                       :filter {:engine :match,
                                                                :match {:path "InsurancePlan.coverage.extension.where(url=http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyReference-extension).valueReference"}}}}}},
                :profile {:match "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-PayerInsurancePlan"}}}}
