{ns
 hl7-fhir-us-davinci-drug-formulary.usdf-AvailabilityPeriod-extension,
 import #{hl7-fhir-r4-core.Period zen.fhir},
 schema
 {:zen/tags #{zen/schema zen.fhir/structure-schema},
  :zen/desc
  "The period for which this item is available on the formulary. Drugs may appear on a formulary, but not considered \"active\" for the current year.",
  :zen.fhir/type "Period",
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-AvailabilityPeriod-extension",
  :zen.fhir/version "0.5.27-1",
  :confirms #{hl7-fhir-r4-core.Period/schema},
  :fhir/flags #{:MS}}}