{ns hl7-fhir-us-davinci-drug-formulary.usdf-FormularyBulkDataGraphDefinition,
 import #{hl7-fhir-us-davinci-drug-formulary.usdf-FormularyBulkDataGraphDefinition
          zen.fhir
          hl7-fhir-r4-core.GraphDefinition},
 link-schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
              :zen.fhir/version "0.6.30-13",
              :type zen/map,
              :keys {:target {:type zen/vector,
                              :every {:type zen/map,
                                      :keys {:type {:match "Basic"},
                                             :params {:match "formulary={ref}"},
                                             :profile {:match "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyItem"},
                                             :link {:type zen/vector,
                                                    :every {:type zen/map,
                                                            :keys {:path {:match "Basic.subject"},
                                                                   :target {:type zen/map,
                                                                            :keys {:type {:match "MedicationKnowledge"},
                                                                                   :profile {:match "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyDrug"}}}}}}}}}}},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "A GraphDefinition defining a graph of resources to return in a query for a Formulary related Bulk Data request.",
         :zen.fhir/type "GraphDefinition",
         :zen.fhir/profileUri "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyBulkDataGraphDefinition",
         :zen.fhir/version "0.6.30-13",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-r4-core.GraphDefinition/schema},
         :type zen/map,
         :keys {:name {:match "FormularyGraphDefinition"},
                :start {:match "InsurancePlan"},
                :status {:match "active"},
                :link {:type zen/vector,
                       :every {:confirms #{hl7-fhir-us-davinci-drug-formulary.usdf-FormularyBulkDataGraphDefinition/link-schema}}},
                :profile {:match "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-Formulary"}}}}
