{ns hl7-fhir-us-davinci-drug-formulary.usdf-FormularyDrug,
 import
 #{hl7-fhir-r4-core.code
   zen.fhir
   hl7-fhir-r4-core.instant
   hl7-fhir-r4-core.Coding
   hl7-fhir-r4-core.Meta
   hl7-fhir-r4-core.Element
   hl7-fhir-r4-core.CodeableConcept
   hl7-fhir-r4-core.MedicationKnowledge},
 schema
 {:zen.fhir/version "0.5.22",
  :confirms
  #{hl7-fhir-r4-core.MedicationKnowledge/schema zen.fhir/Resource},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyDrug",
  :require #{:status :code},
  :type zen/map,
  :zen/desc
  "Drug information which may be part of a formulary including its RxNorm code and dose form.",
  :keys
  {:meta
   {:confirms #{hl7-fhir-r4-core.Meta/schema},
    :type zen/map,
    :keys
    {:lastUpdated {:confirms #{hl7-fhir-r4-core.instant/schema}},
     :_lastUpdated {:confirms #{hl7-fhir-r4-core.Element/schema}}},
    :require #{:lastUpdated}},
   :code
   {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
    :type zen/map,
    :keys
    {:coding
     {:slicing {:slices {}},
      :type zen/vector,
      :every
      {:confirms #{hl7-fhir-r4-core.Coding/schema},
       :fhir/flags #{:MS}},
      :minItems 1}},
    :require #{:coding},
    :fhir/flags #{:MS}},
   :status
   {:confirms #{hl7-fhir-r4-core.code/schema}, :fhir/flags #{:MS}},
   :_status {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :doseForm
   {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
    :fhir/flags #{:MS}}},
  :zen.fhir/type "MedicationKnowledge"}}