{ns
 hl7-fhir-us-davinci-drug-formulary.usdf-PharmacyBenefitType-extension,
 import #{zen.fhir hl7-fhir-r4-core.CodeableConcept},
 schema
 {:zen/tags #{zen/schema zen.fhir/structure-schema},
  :zen/desc
  "A CodeableConcept indicating the pharmacy benefit type the formulary drug is available through the associated plan.  This pharmacy benefit type is specific to the FormularyDrug and indicates which of the pharmacy benefit type from the plan applies to the particular formulary drug.",
  :zen.fhir/type "CodeableConcept",
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-PharmacyBenefitType-extension",
  :zen.fhir/version "0.5.31-1",
  :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}}