{ns
 hl7-fhir-us-davinci-drug-formulary.usdf-StepTherapyLimitNewStartsOnly-extension,
 import #{zen.fhir hl7-fhir-r4-core.boolean},
 schema
 {:zen/tags #{zen/schema zen.fhir/structure-schema},
  :zen/desc
  "A boolean indicating whether the coverage plan imposes a step therapy requirement on this drug meaning another drug may need to be tried beforehand for new starts only (Not required if patient has previously met step therapy requirements).  (Only include if StepTherapyLimit = true)",
  :zen.fhir/type "boolean",
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-StepTherapyLimitNewStartsOnly-extension",
  :zen.fhir/version "0.6.6",
  :confirms #{hl7-fhir-r4-core.boolean/schema}}}