{ns
 hl7-fhir-us-davinci-drug-formulary.usdf-PayerInsurancePlanBulkDataGraphDefinition,
 import
 #{hl7-fhir-r4-core.BackboneElement
   hl7-fhir-r4-core.canonical
   hl7-fhir-r4-core.code
   zen.fhir
   hl7-fhir-r4-core.string
   hl7-fhir-r4-core.GraphDefinition
   hl7-fhir-r4-core.Element},
 schema
 {:zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen/desc
  "A GraphDefinition defining a graph of resources to return in a query for a Formulary related Payer Insurance Plan Bulk Data request.",
  :zen.fhir/type "GraphDefinition",
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-PayerInsurancePlanBulkDataGraphDefinition",
  :zen.fhir/version "0.5.24-1",
  :confirms
  #{zen.fhir/Resource hl7-fhir-r4-core.GraphDefinition/schema},
  :type zen/map,
  :keys
  {:name
   {:match "PayerInsurancePlanGraphDefinition",
    :confirms #{hl7-fhir-r4-core.string/schema}},
   :_status {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :start
   {:match "InsurancePlan", :confirms #{hl7-fhir-r4-core.code/schema}},
   :_profile {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :status
   {:match "active", :confirms #{hl7-fhir-r4-core.code/schema}},
   :link
   {:slicing
    {:slices
     {"location"
      {:schema
       {:type zen/vector,
        :every
        {:type zen/map,
         :keys
         {:path
          {:match "InsurancePlan.coverageArea",
           :confirms #{hl7-fhir-r4-core.string/schema}},
          :_path {:confirms #{hl7-fhir-r4-core.Element/schema}},
          :target
          {:type zen/vector,
           :every
           {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
            :type zen/map,
            :keys
            {:type
             {:match "Location",
              :confirms #{hl7-fhir-r4-core.code/schema}},
             :_type {:confirms #{hl7-fhir-r4-core.Element/schema}},
             :profile
             {:match
              "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-InsurancePlanLocation",
              :confirms #{hl7-fhir-r4-core.canonical/schema}},
             :_profile
             {:confirms #{hl7-fhir-r4-core.Element/schema}}}}}},
         :require #{:path}}},
       :filter
       {:engine :match, :match {:path "InsurancePlan.coverageArea"}}},
      "formulary"
      {:schema
       {:type zen/vector,
        :every
        {:type zen/map,
         :keys
         {:path
          {:match
           "InsurancePlan.coverage.extension.where(url=http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyReference-extension).valueReference",
           :confirms #{hl7-fhir-r4-core.string/schema}},
          :_path {:confirms #{hl7-fhir-r4-core.Element/schema}},
          :target
          {:type zen/vector,
           :every
           {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
            :type zen/map,
            :keys
            {:type
             {:match "InsurancePlan",
              :confirms #{hl7-fhir-r4-core.code/schema}},
             :_type {:confirms #{hl7-fhir-r4-core.Element/schema}},
             :profile
             {:match
              "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-Formulary",
              :confirms #{hl7-fhir-r4-core.canonical/schema}},
             :_profile {:confirms #{hl7-fhir-r4-core.Element/schema}},
             :link
             {:type zen/vector,
              :every
              {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
               :type zen/map,
               :keys
               {:target
                {:type zen/map,
                 :keys
                 {:type {:match "Basic"},
                  :params {:match "formulary={ref}"},
                  :profile
                  {:match
                   "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyItem"},
                  :link
                  {:confirms
                   #{hl7-fhir-r4-core.BackboneElement/schema},
                   :type zen/map,
                   :keys
                   {:path {:match "Basic.subject"},
                    :target
                    {:type zen/map,
                     :keys
                     {:type {:match "MedicationKnowledge"},
                      :profile
                      {:match
                       "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyDrug"}}}}}}}}}}}}}},
         :require #{:path}}},
       :filter
       {:engine :match,
        :match
        {:path
         "InsurancePlan.coverage.extension.where(url=http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyReference-extension).valueReference"}}}}},
    :type zen/vector,
    :every {:confirms #{hl7-fhir-r4-core.BackboneElement/schema}}},
   :_name {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :_start {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :profile
   {:match
    "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-PayerInsurancePlan",
    :confirms #{hl7-fhir-r4-core.canonical/schema}}}}}