{ns hl7-fhir-us-davinci-drug-formulary.usdf-QuantityLimit-extension,
 import #{zen.fhir hl7-fhir-r4-core.boolean},
 schema
 {:zen/tags #{zen/schema zen.fhir/structure-schema},
  :zen/desc
  "A Boolean indication of whether the coverage plan imposes a quantity limit on this drug.",
  :zen.fhir/type "boolean",
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-QuantityLimit-extension",
  :zen.fhir/version "0.5.24-1",
  :confirms #{hl7-fhir-r4-core.boolean/schema}}}