{ns hl7-fhir-us-davinci-drug-formulary.usdf-FormularyDrug,
 import #{zen.fhir hl7-fhir-r4-core.MedicationKnowledge},
 schema {:zen.fhir/version "0.6.7-5",
         :confirms #{hl7-fhir-r4-core.MedicationKnowledge/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/davinci-drug-formulary/StructureDefinition/usdf-FormularyDrug",
         :require #{:status :code},
         :type zen/map,
         :zen/desc "Drug information which may be part of a formulary including its RxNorm code and dose form.",
         :keys {:meta {:type zen/map,
                       :keys {:lastUpdated {:fhir/flags #{:MS}}},
                       :require #{:lastUpdated}},
                :code {:type zen/map,
                       :keys {:coding {:type zen/vector,
                                       :slicing {:slices {}},
                                       :every {:fhir/flags #{:MS}},
                                       :minItems 1}},
                       :require #{:coding},
                       :fhir/flags #{:MS}},
                :status {:fhir/flags #{:MS}},
                :doseForm {:fhir/flags #{:MS}}},
         :zen.fhir/type "MedicationKnowledge"}}
